
{#{% block css %}#}
{#    <link id="css" rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">#}
{#{% endblock %}#}

    <div id="menu" class="pure-menu pure-menu-horizontal">
        <a href="/"><button>Home</button></a>
        <a href="/loginpage/"><button>Login</button></a>
        <a href="/logout/"><button>Logout</button></a>
        <a href="/signup/"><button>New User</button></a>
    </div>
{% block form %}{% endblock %}
{% block main %}{% endblock %}



