{% extends "./base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom User</title>
    {% block css %}{% endblock %}
</head>
<body>
    {% block main %}
    <div>

        <p>
            AUTH_USER_MODEL: {{ auth_user_model }}
        </p>
            <p><em>display_name: </em></p><h1>{{ user.display_name }}</h1>
            <p><em>username: </em></p><h3>{{ user.username }}</h3>
    </div>
{% endblock %}
</body>
